/* Marquee Component Styles */

.marquee {
    display: flex;
    overflow: hidden;
    padding: 0.5rem;
    --duration: 40s;
    --gap: 1rem;
    gap: var(--gap);
}

.marquee-horizontal {
    flex-direction: row;
}

.marquee-vertical {
    flex-direction: column;
}

.marquee-content {
    display: flex;
    flex-shrink: 0;
    justify-content: around;
    gap: var(--gap);
}

.marquee-content-horizontal {
    flex-direction: row;
    animation: marquee var(--duration) linear infinite;
}

.marquee-content-vertical {
    flex-direction: column;
    animation: marquee-vertical var(--duration) linear infinite;
}

.marquee-pause:hover {
    animation-play-state: paused;
}

.marquee-reverse {
    animation-direction: reverse;
}

/* Marquee Animations */
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-vertical {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}